<?xml version="1.0" encoding="utf-8"?>
<Patch>
    <Operation Class="PatchOperationAddModExtension">
        <xpath>/Defs/WeatherDef[defName="SnowHard"]</xpath>
        <value>
            <li Class="MusicExpanded.ModExtension.PlayCue">
                <cue>Custom</cue>
                <cueData>HardSnow</cueData>
            </li>
        </value>
    </Operation>
    <Operation Class="PatchOperationAddModExtension">
        <xpath>/Defs/WeatherDef[defName="SnowGentle"]</xpath>
        <value>
            <li Class="MusicExpanded.ModExtension.PlayCue">
                <cue>Custom</cue>
                <cueData>SoftSnow</cueData>
            </li>
        </value>
    </Operation>	
</Patch>